<section class="mt-5">
  <table class="table table-md mt-2 w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Ícono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (country of countries(); track $index) {

      <tr>
        <td>{{ $index + 1 }}</td>
        <td>{{ country.flag }}</td>
        <td>
          <img [src]="country.flagSvg" width="40">
        </td>
        <td>{{ country.name }}</td>
        <td>{{ country.capital }}</td>
        <td class="badge badge-secondary">{{ country.population | number }}</td>
        <td>
          <a
          [routerLink]="['/country/by', country.alpha3]"
           class="link-primary cursor-pointer">Más información</a>
        </td>
      </tr>
      }

      @if (errorMessage()) {
        <tr>
          <td colspan="8" class="text-center">
            {{ errorMessage() }}
          </td>
        </tr>
      }

      <!-- Loading state -->
       @if(countries().length === 0 && !isloading() && !errorMessage()) {
        <tr>
          <td colspan="8" class="text-center">
            No se encontraron resutados
          </td>
        </tr>
      }
      <!-- Empty state -->
      @if(isloading()) {
        <tr>
          <td colspan="8" class="text-center">
            Buscando países o capitales...
          </td>
        </tr>
      }

    </tbody>
  </table>
</section>

