<section class="mt-5">
  <table class="table table-md mt-2 w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Ícono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (country of countries(); track $index) {

      <tr>
        <td>{{ $index + 1 }}</td>
        <td>{{ country.flag }}</td>
        <td>
          <img [src]="country.flagSvg" width="40">
        </td>
        <td>{{ country.name }}</td>
        <td>{{ country.capital }}</td>
        <td class="badge badge-secondary">{{ country.population | number }}</td>
        <td>
          <a
          [routerLink]="['/country/by', country.alpha3]"
           class="link-primary cursor-pointer">Más información</a>
        </td>
      </tr>
      }

      @if (errorMessage()) {
        <tr>
          <td colspan="8" class="text-center">
            {{ errorMessage() }}
          </td>
        </tr>
      }

      <!-- Loading state -->
  <!-- Solo se muestra si el arreglo está vacío, no está cargando, no hay error
     Y el usuario realmente escribió algo en el buscador (ej. query().length > 0) -->
<!-- Estado vacío: Se muestra si la lista está vacía, ya terminó de cargar y no hay error técnico -->
<!-- Estado vacío: Solo aparece si está vacío, no carga, no hay error, Y el usuario escribió algo -->
  @if(countries().length === 0 && !isloading() && !errorMessage() && query().trim().length > 0) {
    <tr>
      <td colspan="8" class="text-center py-8">
        <div class="flex flex-col items-center justify-center">
          <!-- Ícono SVG de advertencia -->
          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" class="mb-3 text-warning">
            <path d="M0 0h24v24H0z" fill="none" />
            <path fill="currentColor" d="M11.001 10h2v5h-2zM11 16h2v2h-2z" />
            <path fill="currentColor" d="M13.768 4.2C13.42 3.545 12.742 3.138 12 3.138s-1.42.407-1.768 1.063L2.894 18.064a1.99 1.99 0 0 0 .054 1.968A1.98 1.98 0 0 0 4.661 21h14.678c.708 0 1.349-.362 1.714-.968a1.99 1.99 0 0 0 .054-1.968zM4.661 19L12 5.137L19.344 19z" />
          </svg>
          <p class="text-sm font-semibold">No se encontraron resultados</p>

          <!-- Link Regresar -->
          <a (click)="resetSearch()" class="link-primary cursor-pointer mt-2">Regresar</a>
        </div>
      </td>
    </tr>
  }
      <!-- Empty state -->
      @if(isloading()) {
        <tr>
          <td colspan="8" class="text-center">
            Buscando países o capitales...
          </td>
        </tr>
      }

    </tbody>
  </table>
</section>

